<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Broadcom automation test suite" parallel="methods" thread-count="5">

 <listeners>
     <listener class-name="com.qa.extentreportlistener.ExtentReporter"></listener>
    </listeners>
  <test name="Broadcom">
   <!-- <parameter name="username" value="zz@gmail.com"></parameter>
    <parameter name="password" value="zz@gmail.com"></parameter>-->
    <groups>
      <!--<run>
        <include name="smoke"></include>
       </run>-->
    </groups>
    <classes>
     
      <class name="com.crm.qa.testcases.LoginPageTest"/>
     <class name="com.crm.qa.testcases.RegisterTest"/>
      <class name="com.crm.qa.testcases.ProductsTest"/>  
    </classes>
  </test>
</suite>